In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
import sklearn.metrics as metrics

In [2]:
df = pd.read_csv("transactions.csv")

In [3]:
df

,pk,ga_transactionid,ga_datehour,ga_products,ga_channels,ga_itemquantity
0,146288072,2_50414543,2020082900,Product D,Facebook,1
1,146288071,2_50414542,2020082900,Product D,Organic search,1
2,146287503,2_50413935,2020082900,Product D,Organic search,1
3,146287504,2_50413936,2020082900,Product D,Organic search,1
4,146296436,3_65496155,2020082900,Product E,Google Ads,1
...,...,...,...,...,...,...
20831804,226498706,11_2530064,2021101807,Product D,Google Ads,1
20831805,226498707,11_2530066,2021101807,Product D,Facebook,1
20831806,226498708,11_2530068,2021101807,Product D,Google Ads,1
20831807,226498709,11_2530070,2021101807,Product D,NaN,1
20831808,226498710,11_2530071,2021101807,Product D,Facebook,1

Veri setimizde string olan değerler var ve biz bu değerleri replace komutuyla integer hale getirmemiz lazım. Mesala Product A = 1 ve Facebook = 1

In [4]:
df = df.replace('Product A', 1)
df = df.replace('Product B', 2)
df = df.replace('Product C', 3)
df = df.replace('Product D', 4)
df = df.replace('Product E', 5)
df = df.replace('Product F', 6)

In [5]:
df = df.replace('Facebook', 1)
df = df.replace('Google Ads', 2)
df = df.replace('Organic search', 3)
df = df.replace('Direct', 4)
df = df.replace('CRM', 5)

In [6]:
df

,pk,ga_transactionid,ga_datehour,ga_products,ga_channels,ga_itemquantity
0,146288072,2_50414543,2020082900,4,1,1
1,146288071,2_50414542,2020082900,4,3,1
2,146287503,2_50413935,2020082900,4,3,1
3,146287504,2_50413936,2020082900,4,3,1
4,146296436,3_65496155,2020082900,5,2,1
...,...,...,...,...,...,...
20831804,226498706,11_2530064,2021101807,4,2,1
20831805,226498707,11_2530066,2021101807,4,1,1
20831806,226498708,11_2530068,2021101807,4,2,1
20831807,226498709,11_2530070,2021101807,4,NaN,1
20831808,226498710,11_2530071,2021101807,4,1,1

Veri seti içerisinde ki string ifadeleri integer ifadelerle değiştirdik fakat veri setini kontrol ettiğimiz zaman fark ettiyseniz NaN olan değerler var peki bu değerler neyi ifade eder? Tabi ki veri alınmamış yada toplarken eksik toplanılmıştır. Bu durumda dropna komutuyla NaN değerleri veri setimizden kaldırıp veri setimizi temi hale getiriyoruz, bunu yapmamızın sebebi veri setinin çok büyük olması ve bu büyüklük bu yöntemle bizim daha iyi tahmin yapmamızı sağlar.

In [7]:
df.dropna()

,pk,ga_transactionid,ga_datehour,ga_products,ga_channels,ga_itemquantity
0,146288072,2_50414543,2020082900,4,1,1
1,146288071,2_50414542,2020082900,4,3,1
2,146287503,2_50413935,2020082900,4,3,1
3,146287504,2_50413936,2020082900,4,3,1
4,146296436,3_65496155,2020082900,5,2,1
...,...,...,...,...,...,...
20831803,226498705,11_2530062,2021101807,4,5,1
20831804,226498706,11_2530064,2021101807,4,2,1
20831805,226498707,11_2530066,2021101807,4,1,1
20831806,226498708,11_2530068,2021101807,4,2,1
20831808,226498710,11_2530071,2021101807,4,1,1

veri setimizde zman çizelgesi oluşturuyoruz.

In [8]:
df.index = pd.to_datetime(df.index)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20831809 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.020831808
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   pk                int64
 1   ga_transactionid  object
 2   ga_datehour       int64
 3   ga_products       int64
 4   ga_channels       object
 5   ga_itemquantity   int64
dtypes: int64(4), object(2)
memory usage: 1.1+ GB

veri setimizde object olan yani integer olmayan değerler olduğunu fark ettik. Bu değerleri iki farklı metotla integer değerlere çevirmemiz gerekecek. 1. metot boş olmayan değerler için ikinci metot ise boş olan değerler için yazlmıştır.

1. Metot

In [10]:
df["ga_transactionid"] = df.ga_transactionid.astype(int)
df.dropna()

,pk,ga_transactionid,ga_datehour,ga_products,ga_channels,ga_itemquantity
1970-01-01 00:00:00.000000000,146288072,250414543,2020082900,4,1,1
1970-01-01 00:00:00.000000001,146288071,250414542,2020082900,4,3,1
1970-01-01 00:00:00.000000002,146287503,250413935,2020082900,4,3,1
1970-01-01 00:00:00.000000003,146287504,250413936,2020082900,4,3,1
1970-01-01 00:00:00.000000004,146296436,365496155,2020082900,5,2,1
...,...,...,...,...,...,...
1970-01-01 00:00:00.020831803,226498705,112530062,2021101807,4,5,1
1970-01-01 00:00:00.020831804,226498706,112530064,2021101807,4,2,1
1970-01-01 00:00:00.020831805,226498707,112530066,2021101807,4,1,1
1970-01-01 00:00:00.020831806,226498708,112530068,2021101807,4,2,1
1970-01-01 00:00:00.020831808,226498710,112530071,2021101807,4,1,1

2. Metot

In [11]:
print(df[df['ga_channels'].isnull()])

                                      pk  ga_transactionid  ga_datehour  \
1970-01-01 00:00:00.000000040  146287531         250413965   2020082900
1970-01-01 00:00:00.000000050  146287541         250413978   2020082900
1970-01-01 00:00:00.000000058  146287549         250413987   2020082900
1970-01-01 00:00:00.000000093  146287584         250414023   2020082900
1970-01-01 00:00:00.000000124  146287615         250414056   2020082900
...                                  ...               ...          ...
1970-01-01 00:00:00.020831789  226498730         112530101   2021101807
1970-01-01 00:00:00.020831792  226498694         112530047   2021101807
1970-01-01 00:00:00.020831801  226498703         112530060   2021101807
1970-01-01 00:00:00.020831802  226498704         112530061   2021101807
1970-01-01 00:00:00.020831807  226498709         112530070   2021101807

                               ga_products ga_channels  ga_itemquantity
1970-01-01 00:00:00.000000040            4         NaN                1
1970-01-01 00:00:00.000000050            4         NaN                1
1970-01-01 00:00:00.000000058            4         NaN                1
1970-01-01 00:00:00.000000093            4         NaN                1
1970-01-01 00:00:00.000000124            4         NaN                1
...                                    ...         ...              ...
1970-01-01 00:00:00.020831789            4         NaN                1
1970-01-01 00:00:00.020831792            4         NaN                1
1970-01-01 00:00:00.020831801            4         NaN                1
1970-01-01 00:00:00.020831802            4         NaN                1
1970-01-01 00:00:00.020831807            4         NaN                1

[2071467 rows x 6 columns]

In [12]:
df['ga_channels'] = pd.to_numeric(df['ga_channels'], errors='coerce')

In [13]:
df = df.dropna(subset=['ga_channels'])

In [14]:
df['ga_channels'] = df['ga_channels'].astype(int)

<ipython-input-14-d9d12b516268>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ga_channels'] = df['ga_channels'].astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18647761 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.020831808
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   pk                int64
 1   ga_transactionid  int32
 2   ga_datehour       int64
 3   ga_products       int64
 4   ga_channels       int32
 5   ga_itemquantity   int64
dtypes: int32(2), int64(4)
memory usage: 853.6 MB

veri setimizi eğitim ve test olarak ikiye ayırmamız gerekecektir. İlk önce kolonları belirleyip sonrada test ve train işlemlerine geçeceğiz.

Verimizi %30 luk kısmını test %70 lik kısmını ise eğitim için ayırdık.
Dizinin, zaman serisi verileri için gerekli olan tarih saat olması gerekir.

In [16]:
X=df.values[:,1:5]
y=df.values[:, -1:]

x değişkenimiz sonucu etkileyen nesneler y değişkenimiz ise sonuç.

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [18]:
print( 'Train: ', X_train.shape)
print( 'Test: ', y_test.shape)

Train:  (13053432, 4)
Test:  (5594329, 1)

KNN algoritmasını kullanarak veri setimizi eğitelim ve sonucu gözlemleyelim

In [20]:
from sklearn.neighbors import KNeighborsClassifier
sınıflandırıcı=KNeighborsClassifier(n_neighbors=3)
sınıflandırıcı.fit(X_train, y_train)
tahmin=sınıflandırıcı.predict(X_test)
print("KNN  için tahmin: {:.3f}" .format(accuracy_score(y_test, tahmin)*100))

C:\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNN  için tahmin: 99.964

In [36]:
print(tahmin)

[1 1 1 ... 1 1 1]

In [ ]:
# sonucumuzu görselleştirelim
plt.plot(X_train,y_train)
plt.plot(X_test,sınıflandırıcı.predict(x_test))
plt.title("title")
plt.xlabel("x")
plt.ylabel("y")

diğer veri setlerinde tuhaflık var o yüzden  diğerlerini yapamadım